@using Microsoft.AspNetCore.Identity
@using MvcMusicStoreWebProject.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



    @if (SignInManager.IsSignedIn(User))
    {
        <ul class="navbar-nav">

            <li class="nav-item">
                @{ var user = await UserManager.GetUserAsync(User);}
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@user.OfficialName </a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Изход</button>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Начална страница</a>
            </li>
             
            
        </ul>
    }
         else 
            { 
         
             
            }
        
