@using Microsoft.AspNetCore.Identity
@using MvcMusicStoreWebProject.Data.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div id="sidebar-wrapper">
    @if (User.IsInRole("Admin"))
    {
    <ul class="sidebar-nav">
        <li><a asp-area="" asp-controller="Discipline" asp-action="Index">Дисциплини</a></li>
        <li><a asp-area="" asp-controller="Semester" asp-action="Index">Семестри </a></li>
        <li><a asp-area="" asp-controller="NonWorkingDays" asp-action="Index">Неработни дни </a></li>
        <li><a asp-area="" asp-controller="Degree" asp-action="Index">Акад.степени </a></li>
        <li><a asp-area="" asp-controller="Attendance" asp-action="UserHistory">История </a></li>

    </ul>
    }

    else if (SignInManager.IsSignedIn(User))
    {

        var user = await UserManager.GetUserAsync(User);
        <ul class="sidebar-nav">
            <li><a asp-area="" asp-controller="Attendance" asp-action="UserHistory">History </a></li>
        </ul>
    }
    else
            {

            }


</div>

<script>
    function openSideNav() {
        var sideBarDisplay = document.getElementById("side-bar").style.width;
        if (sideBarDisplay == "150px") {
            document.getElementById("side-bar").style.width = "0px";
            document.getElementById("body-content").style.marginLeft = "0px";
        } else {
            document.getElementById("side-bar").style.width = "150px";
            document.getElementById("body-content").style.marginLeft = "150px";
        }
    }

</script>




