@model IEnumerable<MvcMusicStoreWebProject.Models.Semester>
@using Microsoft.AspNetCore.Identity
@using MvcMusicStoreWebProject.Data.Models



@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <div class="panel panel-body">
        <div class="col-md-6">
            @if (SignInManager.IsSignedIn(User))
            {
                <div>
                    <div> <button><a class="btn btn-primary" asp-action="LoggedUser" asp-controller="Attendance" role="button">Попълнете присъствената форма</a></button> </div>
                </div>
            }

            else
            {
                <h1> Please Loggin</h1>
            }
        </div>
    </div>











