@model IEnumerable<MvcMusicStoreWebProject.Models.Attendance>
@using Microsoft.AspNetCore.Identity
@using MvcMusicStoreWebProject.Data.Models



@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<style>
    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h1> <button><a class="btn btn-primary" asp-action="LoggedUser" asp-controller="Attendance" role="button">Welcome</a></button>   </h1>



