@model IEnumerable<MvcMusicStoreWebProject.Models.Semester>
@using Microsoft.AspNetCore.Identity
@using MvcMusicStoreWebProject.Data.Models



@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div>
    @if (SignInManager.IsSignedIn(User))
    {
      @*<form method="post" asp-controller="Attendance" asp-action="CreateAttendance">*@
          <div>
              @*<div class="col-1">
                  <input asp-for= class="form-control" />
              </div>*@

              <div class="col-1">

                  @*<select id="ProgramsList" asp-items="@ViewBag.semNames">
                      <option> Select Semester</option>
                  </select>*@
              </div>
              <div> <button><a class="btn btn-primary" asp-action="LoggedUser" asp-controller="Attendance" role="button">Попълнете присъствената форма</a></button> </div>
          </div>
       @*</form>*@
            }

            else
            {
            <h1> Please Loggin</h1>
            }

     
    </div>






